/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Common */
a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
    display: flex;
    text-align: end;
}

li {
    padding-right: 10px;
}


/* Intestazione */

header {
    background-color: #ff6900;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-grow: 1;
    height: 35px;
    width: 150px;
}

.items {
    flex-shrink: 0;
    color: #ffff;
}

/* Sale cards */

.containershop {
    width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 40px;
}

.row {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.column {
    width: calc(100%/3 - 40px / 3);
    flex-shrink: 0;
    margin-bottom: 30px;
    position: relative;
}


.column img {
    width: 100%;
}

.bottomcard {
    font-size: 14px;
}

/* Top card */

.img-1 {
    display: block;
}

.img-2 {
    display: none;
}

.topcard:hover .img-1 {
    display: none;
}

.topcard:hover .img-2 {
    display: block;
}

/* Discounts bottom card */

.sale {
    color: #ff0000;
    font-weight: bold;
}

.price {
    text-decoration: line-through;
}

.discount {
    background-color: #ff0000;
    padding: 5px 10px;
    position: absolute;
    bottom: 80px;
}

.environment {
    background-color: #008000;
    padding: 5px 10px;
    position: absolute;
    bottom: 80px;
    left: 60px;
}

.environment2 {
    background-color: #008000;
    padding: 5px 10px;
    position: absolute;
    bottom: 80px;
}

.discount, .environment, .environment2 {
    color: #ffffff;
}

.column > div {
    color: #000000;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

/* Heart hover */

.heart {
    background-color: #ffffff;
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 0;
}

.heart:hover {
    color: #ff0000;
}

/* Banner footer */

footer {
    background-color: #000000;
}

.fcontainer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    color: #ffffff;
    text-align: start;
    padding: 20px;
    justify-content: space-between;

}

.brand, .social {
    line-height: 30px;
}

.social {
    text-align: end;
}

.brand li {
    font-size: 13px;
}

.social li {
    font-size: 20px;
}

.social ul li:last-child  {
    padding-right: 0;
}



